/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 16px;
}
.main {
    display: flex;
    justify-content: center;
    width: max-content;
    margin: 1rem auto;
    border: 0.1rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    gap: 2rem;
}
.form {
    display: flex;
    flex-direction: column;
    
}
label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
input {
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    border: 0.1rem solid rgb(185, 184, 184);
    border-radius: 0.3rem;
}
.error-message {
    height: 0;
    overflow: hidden;
}
.error-message.active {
    height: 1rem;
}
.password-wrapper {
    position: relative;
}
.eye-btn1 {
    position: absolute;
    bottom: 16.4rem;
    right: 32.7rem;
    border: none;
    background: none;
    width: 1.8rem;
    height: auto;
}
.eye-btn1 img {
    width: 100%;
    height: 100%;
}
.eye-btn2{
    position: absolute;
    bottom: 0.6rem;
    left: 9.5rem;
    border: none;
    background: none;
    width: 1.8rem;
    height: auto;
}
.eye-btn2 img {
    width: 100%;
    height: 100%;
}
.progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle-progress {
    display: flex;
    justify-content: center;
    width: 1rem;
    padding: 1rem;
    border: 0.2rem solid transparent;
    background:
        linear-gradient(#fff, #fff) padding-box,                /* bên trong */
        linear-gradient(90deg, #000 65%, #ccc 50%) border-box; /* border 2 màu */
    border-radius: 9999rem;
    text-align: center;
    margin-bottom: 1rem;
}
.checklist {
    background: rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    height: 10rem;
}
.checklist > p {
    font-size: 0.8rem;
}
.update-profile {
    border: none;
    background-color: #000;
    color: white;
    padding: 1rem;
    border-radius: 9999rem;
}
.update-profile:hover {
    background-color: blue;
    color:white;
    transition:   background-color 0.2s ease,
        transform 0.2s ease;
}